body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
}
#dialog{
    background-color: gray;
    border: solid 6px greenyellow;
    border-radius: 8px;
    height: 400px;
    width: 500px;
    display: grid;
    align-content: center;
    justify-content: center;
}
#start-button{
    height: 40px;
    width: 240px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
    color: black;
    background-color: greenyellow;
}
#game-screen{
    color: white;
    display: none;
}
#game-grid{
    height: 500px;
    width: 500px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
}

.unrevealed{

    background-color: aquamarine;
    border: 2px solid red;
}
.revealed {
    background-color: blue;
}
.bomb {
    
    background: url("https://e7.pngegg.com/pngimages/858/591/png-clipart-gray-spiked-ball-art-microsoft-minesweeper-minesweeper-classic-the-minesweeper-naval-mine-mines-game-symmetry-thumbnail.png");
    background-size: contain;
}