
body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
}
#dialog, #end-dialog{
    background-color: gray;
    border: solid 6px greenyellow;
    border-radius: 8px;
    height: 400px;
    width: 500px;
    display: grid;
    align-content: center;
    justify-content: center;
}
#start-button, .restart-button{
    height: 40px;
    width: 240px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
    color: black;
    background-color: greenyellow;
    justify-self: center;
}
.restart-button{
    margin-top: 10px;
}

#end-dialog{
    display: none;
    background-color: rgba(128, 128, 128, 0);
}



#game-screen{
    color: white;
    display: none;
    grid-template-rows:75px 500px 75px;
}
.game-grid{
    height: 500px;
    width: 500px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    overflow: hidden;
}

.unrevealed{

    background-color: aquamarine;
    border: 1px solid navajowhite;
}
.revealed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
  
}
.bomb {
    border: 2px solid navajowhite;
    background-color: red;
    background: url("https://e7.pngegg.com/pngimages/858/591/png-clipart-gray-spiked-ball-art-microsoft-minesweeper-minesweeper-classic-the-minesweeper-naval-mine-mines-game-symmetry-thumbnail.png");
    background-size: contain;
}
